<%- include layouts/header.ejs %>

        <div class="page-data">
         <div class="data-btn">
           <button onClick="addUser();">+ Add</button>
         </div>
         <div class="data-table">
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th width="50px">No</th>
                    <th>Name</th>
                    <th>Brand</th>
                    <th>Screen Size</th>
                    <th>Operating System</th>
                    <th>Internal Memory</th>
                    <th>RAM</th>
                    <th>Price</th>
                    <th>Image</th>
                </tr>

                <% if(data.length){

                 for(var i = 0;i < data.length;i++) { %>

                <tr>
                    <td><%=data[i].id%></td>
                    <td><%=data[i].name%></td>
                    <td><%=data[i].brand%></td>
                    <td><%=data[i].screensize%></td>
                    <td><%=data[i].operating_system%></td>
                    <td><%=data[i].internal_memory%></td>
                    <td><%=data[i].ram%></td>
                    <td><%=data[i].price%></td>
                    <td><img src="/../images/<%=data[i].image%>" width="30%" height="30%"></td>
                </tr>
            <% }

             }else{ %>
                 <tr>
                    <td colspan="3">No user</td>
                 </tr>
            <% } %>



            </table>
         </div>
        </div>

<%- include layouts/footer.ejs %>
